In [ ]:
Continuation with list datatype:

In [ ]:
organising the list datatype:

In [1]:
cars = ['suzuki','maruthi','honda','kia','bmw','toyota','audi','benz' ]

In [2]:
print(cars)

['suzuki', 'maruthi', 'honda', 'kia', 'bmw', 'toyota', 'audi', 'benz']

In [3]:
type(cars)

list

In [ ]:
# How to organise alist in alphabetical order i.e A-Z

In [ ]:
There are two methods to organise the order,
1. temp approach ======>sorted===>by this function we will be able to get the orginal order back.
2.permanent approach ====>sort===>by this function all the changes are implied permanently.

for example:

In [4]:
print(sorted(cars))  # temperory approach

['audi', 'benz', 'bmw', 'honda', 'kia', 'maruthi', 'suzuki', 'toyota']

In [5]:
cars.sort()

In [6]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'kia', 'maruthi', 'suzuki', 'toyota']

In [ ]:
** Interview question-what is the difference between soreted and sort method in a list?
Ans: Sorted menthod is used to get the orginal order temp where as sort method is used to chnage the order permanently.

In [ ]:
# = hash is used for commenting lines

for example; in cell if we press shift enter without has it will show syntax error, in cell 8 when we use hash and press shift enter it will consider as comment line.

In [7]:
continuation of datatype:

SyntaxError: invalid syntax (1966323803.py, line 1)

In [8]:
# continuation of dataype

In [9]:
# how to print the above list in reverse order : function : .reverse()

In [ ]:
for example:

In [10]:
cars.reverse()

In [11]:
print(cars)

['toyota', 'suzuki', 'maruthi', 'kia', 'honda', 'bmw', 'benz', 'audi']

In [ ]:
# how to calculated the no of elements in the list: function : len

for example:

In [12]:
len(cars)

8

In [ ]:
Introduction to slicing:

In [ ]:
Syntax of slicing: [startvalue:stopvalue:stepcount]

In [ ]:
note: 
startvalue is the starting element/word.
stopvalue is always exclusive, means it will not be included, to include the stop value we need to increment the number by +1.
stepcount is used to count the steps, if a step values is not mentioned then default it is consider as plus one

In [ ]:
for example:

In [13]:
students = ['aditi','mounkia','ramya','naveen','adi','kiran','david']

In [14]:
print(students)

['aditi', 'mounkia', 'ramya', 'naveen', 'adi', 'kiran', 'david']

In [ ]:
['aditi', 'mounkia', 'ramya', 'naveen', 'adi', 'kiran', 'david']

   0          1         2         3       4       5        6

In [ ]:
to print only aditi

In [15]:
print(students[0:1])

['aditi']

In [ ]:
here stop value is one, which is not included, to include the index 1 i.e mounika we need to incement the no by +1

for example:

In [16]:
print(students[0:2])

['aditi', 'mounkia']

In [ ]:
To print print ramya and naveen

In [17]:
print(students[2:4])

['ramya', 'naveen']

In [ ]:
to print every alternate name then we need to add the step count to 2, if we want every 3 number to print then step count will be 3.

the stop value should be end value and start value will be the value from where you want to start.

for example:

In [18]:
print(students[0:7:2])

['aditi', 'ramya', 'adi', 'david']

In [ ]:
Introduction to to the concept of -ve indexing:

In [ ]:
postive indexing starts from : 0,1,2,3,4,5...... (forward direction)
negative indexing starts from: -1,-2,-3,-4,-5.... (reverse direction)

In [ ]:
['aditi', 'mounkia', 'ramya', 'naveen', 'adi', 'kiran', 'david']

   0          1         2         3       4       5        6    ==> positive indexing
  -7         -6        -5        -4      -3      -2       -1    ==> negative indexing

In [19]:
print(students)

['aditi', 'mounkia', 'ramya', 'naveen', 'adi', 'kiran', 'david']

In [20]:
print(students[-1])

david